@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.QRCodeWrap{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media print {
    @page { margin: 0; }
    body { margin: 0.5cm;background-color: #fff; }
    
    
    .Name{
        font-family: 'Silkscreen', cursive;
    }
    
    .ID{
        font-size: 25px;
    }
    .test{
        font-family: 'Silkscreen', cursive;
    
    }
    .RotatedDivContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .NamePrint{
        text-transform: uppercase;
    }
        
}
.RotatedDivContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

